Debug/
Release/
ExeCompile/
*.sdf
*.suo
ipch/
*.vcxproj.user
*.ipdb
*.iobj
*.db
*.opendb
.vs/
*.pdb

Assets/
Scenes/
DustBox/
DB/
Release_/
Temp/

*.cpp
!TenshiEngine/EngineResource/ScriptTemplate/*.cpp
!TenshiEngine/ScriptComponent/*.cpp
!TenshiEngine/ScriptComponent/Reflection/*.cpp
!TenshiEngine/ScriptComponent/Scripts/*.cpp
!ptr.cpp
TenshiEngine/CustomControls/
TenshiEngine/CppWPFdll/
TenshiEngine/DirectXTex/
TenshiEngine/Manual/
TenshiEngine/lib/
TenshiEngine/Resource/
*.opensdf
TenshiEngine.sln
TenshiEngine.vcxproj











*.opensdf
TenshiEngine/lib/DirectShow/
